@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,200;1,400&display=swap');


* {
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

body {
    overflow-x: hidden;
}

#container-two-div {
    width: 100%;
    height: auto;
    margin-bottom: 100px;
    /* border: 1px solid red; */
    display: flex;
    gap: 50px;
}

/* #container-two-div>div{
    /* border: 1px solid red; */

#Automate {
    width: 40%;
    margin-left: 10%;


}

#jump-four-logo-div {
    width: 40%;
    margin-right: 10%;

}

#jump-four-logo-div>img {
    width: 100%;
}

#first-line {
    color: #33475B;
    font-size: 30px;
    font-weight: bold;
}

#no-coding {
    margin-top: 25px;
}

#book-demo {
    margin-top: 18px;
    background-color: #465DEF;
    color: white;
    padding: 12px 30px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

#free-trial-btn {
    margin-left: 10px;
    margin-top: 18px;
    border-radius: 5px;
    padding: 12px 30px;
    color: #465DEF;
    font-weight: bold;
    background-color: white;
    border: 1px solid #465DEF;
    cursor: pointer;
}

#condtion {
    color: #465DEF;
    font-size: 12px;
    margin-top: 15px;
}

#condtion>span {
    margin-left: 10px;
}

/* slider */
#slider {
    /* width: 80%; */
    height: 100px;
    display: flex;
    gap: 30px;
    margin: auto;
    /* margin-left: 10%;
    margin-right: 10%; */
    /* margin-top: 150px; */

}

#slider>div {
    width: 400px;
    height: 100%;
}

#limit {
    width: 80%;
    margin: auto;
    height: 50px;
    overflow: hidden;
}

#slider {
    animation: transformX 30s linear 2s infinite;
    width:  calc(200px*14);
}

@keyframes transformX {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px*7));
    }
}

/* video css */
#video-div {
    width: 60%;
    height: 400px;

    border-radius: 10px;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 150px;
}



/* screen-shot */
#screen-shot {
    width: 100%;
    height: 800px;
    margin: auto;
    margin-top: 300px;

    background-color: #010E23;
    padding: 10px 0px;

}

#screen-shot>div {
    width: 80%;
    height: 80%;

    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    background-color: #010E23;
}

#screen-shot>div>img {
    width: 100%;
}

#hybrid {
    width: 100%;
    height: auto;
    margin-top: 150px;
}

#hybrid>img {
    width: 100%;
}

#feat-rich {
    width: 100%;
    height: auto;
}

#feat-rich>img {
    width: 100%;
}

/* Omnichannel Support */
#omnichannel-support {
    width: 88%;
    height: auto;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    gap: 50px;
    margin-top: 100px;
}

#web-link {
    width: 48%;
    height: auto;


}

#img-support {
    width: 48%;
    height: auto;


}

#omni {
    color: #33475B;
    font-size: 30px;
    font-weight: bold;

}

#support-chat {
    margin-top: 10px;
    font-size: 14px;
    color: #2f3538;

}

.solve-query {
    width: 100%;
    height: 80px;
    cursor: pointer;
    margin-top: 20px;
    display: flex;
}

.chat-logo {
    width: 20%;
    cursor: pointer;

}

.queries-p {
    font-size: 12px;
    color: #444444;
    margin-top: 5px;
}

.website-h1 {
    font-size: 16px;
    color: #33475B;
    font-weight: bold;
}

.chat-logo>img {
    width: 55%;
    margin: 10px;
    background-color: #EEF4FB;
    border-radius: 10%;
}

.back {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#icon-m {
    background-color: #0079DE;
}

/* Add More Power to your bots */
#add-more {
    width: 60%;
    height: auto;

    margin: auto;
    margin-top: 150px;

}

#power-bot {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
}

/* #power-bot>div{
    border: 1px solid red
} */
#add-more>p {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #33475B;


}

.AI {
    color: black;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.IBM {
    font-size: 12px;
    text-align: center;
    color: #989CA3;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}

.ai-image {
    width: 100%;
}

/* <!-- seamless integration --> */
#seamless {
    background-color: #275288;
    width: 70%;
    height: 600px;
    border: 1px solid;
    margin: auto;
    border-radius: 10px;
    margin-top: 100px;
}

#seamless>p:nth-child(1) {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin-top: 15px;
    color: white;
}

#seamless>p:nth-child(2) {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: white;
}

#seamless>p:nth-child(3) {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    color: white;
}

#seamless>img {
    display: block;
    width: 80%;
    margin: auto;
}

/* <!-- Bulk Template Messages --> */
#bult-messages {
    width: 100%;
    height: 600px;
    background-color: #F9F9FB;
    margin-top: 150px;
    margin-bottom: 50px;
    display: flex;
    gap: 20px;

}

#bult-messages>div {
    margin: auto;
    margin-left: 5%;
    margin-right: 5%;


    width: 100%;
}

#temp-img>img {
    width: 90%;
    border-radius: 20px;
}

#temp-img {
    height: 90%;
}

#smat-feat {
    font-size: 14px;
    color: #8b8f92;
    margin-top: -100px;

}

#bulk-p {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 26px;
    font-weight: bold;
    color: #33475B;
}

#bulk-promo {
    font-size: 16px;

    color: #31508A;
}

#try-now-btn {
    padding: 15px 20px;
    background-color: #465DEF;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
}

/* <!-- capture and escape --> */
#cature-escape {
    width: 80%;
    height: 350px;
    margin: auto;
    margin-bottom: 100px;
    background-color: #465DEF;
    border-radius: 10px;
    padding-top: 60px;
}

#customers {

    margin-bottom: 50px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: white;
    margin-left: 20%;
    margin-right: 20%;


}

#conventionsal {
    text-align: center;
    color: white;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: -20px;
}

.BN-btn {
    text-align: center;
    margin-top: 30px;
    margin-left: 36%;
    color: #465DEF;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 19px;



}

.BNT-btn {
    font-size: 19px;
    color: #465DEF;
    padding: 10px 25px;
    border-radius: 5px;
}

#all-p-btn {

    margin-top: 20px;
}

/* <!-- Latest Blog & News --> */


/* .hover-blue>p:hover{
    color: white;
   } */

#lbn {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #33475B;
    margin-top: 100px;
    margin-bottom: 100px;

}

#blog {
    width: 100%;
    height: 278px;
    margin-left: 20%;

    margin-bottom: 100px;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;


}

#blog>div {


    border-radius: 10px;
    width: 33%;
    height: 100%;
}

.month {
    margin-left: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 12px;
    color: #595F6F;
    font-weight: bold;
}

.month>span {
    margin-left: 10px;
    font-size: 12px;
    font-weight: normal;
}

.transform {
    font-size: 20px;
    margin-left: 25px;
    font-weight: bold;
    color: #33475B;
}

.entrep {
    margin-left: 25px;
    margin-top: 30px;
    font-size: 14px;
    color: #595F6F;
}

.blog-img {
    width: 60%;
    height: 20%;
    margin-top: 20px;
    margin-left: 30px;

    display: flex;
    gap: 10px;
}

.sultana-img {
    width: 60%;
    border-radius: 50%;
}

.khadeer-name {
    color: black;
    font-weight: bold;
    margin-left: -20px;
}

.indai-regin {
    font-size: 14px;
    margin-left: -20px;
}

#arrow-two {
    display: flex;
    gap: 50px;
    justify-content: center;
    color: gray;
    margin-bottom: 100px;

}

#left-arrow:hover {
    color: rgb(48, 48, 237);
    cursor: pointer;
}

/* #right-arrow{
    color: gray;
   } */
#right-arrow:hover {
    color: rgb(48, 48, 237);
    cursor: pointer;
}
/* scroll */
.scrollTop-style {
    position: fixed;
    right: 2%;
    bottom: 5%;
    z-index: 1;
  }
  
  .scroll-top {
    width: 4rem;
    height: 4rem;
    background: var(--helper);
    display: inline-block;
    padding: 1.4rem 1.8rem;
    position: relative;
    color: var(--white);
    animation: water-wave 3s linear infinite;
    cursor: pointer;
  }